In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Q2 - Adding features

## (a)

## Setting data

In [3]:
carData = pd.read_csv("fordFocus.csv")
carData.head()

   year model  price  mileage  color transmission
0  2010   SES  16995    40539  Black         AUTO
1  2010   SEL  15889    24920  Black         AUTO
2  2010    SE  15499     7784  Black         AUTO
3  2010    SE  15499    35636  Black         AUTO
4  2011    SE  14992     4867  Black         AUTO

## Creating linear regression model

In [37]:
features = ['year','mileage']
XTrain, XTest, YTrain, YTest = train_test_split(
    carData[features],
    carData.price,
    train_size=0.8,
    test_size=0.2,
)

linearModel = LinearRegression()
linearModel.fit(XTrain.values,YTrain)
print('Y-Intercept: ', linearModel.intercept_)
print('Slope: ', linearModel.coef_[0])

Y-Intercept:  -1653631.0780536244
Slope:  830.5467423351473